# 4 Basic Data Types: Lists and Tuples
## 4.1 Lists

In [2]:
fields = ['FireId', 'Org', 'Reg-State', 'FireType']
fields

['FireId', 'Org', 'Reg-State', 'FireType']

In [5]:
stateData = ['Florida', ['Alabama', 'Georgia'], 18809888]
stateData

['Florida', ['Alabama', 'Georgia'], 18809888]

In [7]:
exampleList = [10000, 'a', 1.5, 'b', 'banana', 'c', 'cusp']
exampleList

[10000, 'a', 1.5, 'b', 'banana', 'c', 'cusp']

In [8]:
dataList = []

### 4.1.1 Sequence Operations on Lists

In [9]:
exampleList = [10000, 'a', 1.5, 'b', 'banana', 'c', 'cusp']
exampleList[0] = 'prune'# modifying the first item in the list.
exampleList

['prune', 'a', 1.5, 'b', 'banana', 'c', 'cusp']

### 4.1.2 List Methods

In [10]:
# Initialize the list with 4 IDs.
fireIDs = ['238998', '239131', '239135', '239400']
newID = '239413'
fireIDs.append(newID) # Changing the list in-place.
fireIDs

['238998', '239131', '239135', '239400', '239413']

### 4.1.3 The Built-in range Function

In [11]:
range(9)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
range(5,9)

[5, 6, 7, 8]

In [13]:
range(0,9,2)

[0, 2, 4, 6, 8]

### 4.1.4 Copying a List

In [15]:
fireIDs = ['238998', '239131', '239135', '239400']
fireIDs.reverse()
fireIDs

['239400', '239135', '239131', '238998']

### Shallow Copy

In [16]:
a = range(1,11)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
b = a# "shallow copy" list a
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
a.reverse()# reverse list a
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

---

### Deep Copy

In [20]:
a = range(1,11)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
b = list(a)# "deep copy" list a
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
a.reverse()# reverse list a
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 4.2 Tuple

In [27]:
t = "abc", 456, 'wxyz'
type(t)

tuple

In [28]:
t

('abc', 456, 'wxyz')

In [29]:
t2 =(4.5, 7, 0.3)
type(t2)

tuple

In [30]:
t2

(4.5, 7, 0.3)

---

In [31]:
t[0]

'abc'

In [32]:
t[1]

456

In [33]:
t2[0]

4.5

In [34]:
t2[0] = 5

TypeError: 'tuple' object does not support item assignment

## 4.3 Syntax Check and Tracebacks

## 4.4 Key Terms

## 4.5 Exercises